.wrapper1{
  background-color:#fff;
  margin-top:16%;
  box-sizing: border-box;
  box-shadow: 0 4px 38px 0 rgba(22,21,55,.06),0 0 21px 0 rgba(22,21,55,.03);
  border-radius: 5px;
  max-width: 30.66rem;
  margin-left:auto;
  margin-right: auto;
}
@media (max-width:700px){
  .App1{
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
  }
  
}
@media (min-width:700px){
  .App1{
    margin-left: 32%;
    margin-right: 32%;
    margin-top: 2%;
  }
  
}
.text-light{
  color: #786fa4;
  font-size: .7rem;
  font-feature-settings: "tnum";
  font-weight: 400;
  letter-spacing: 1px;
  font-family: Source Sans Pro,sans-serif;
  line-height: normal;
  text-transform: uppercase;
}
.text-dark{
  color: #161537;
  padding: 5px; 
  font-size: 1.33rem;
  font-weight: 900;
  font-family: Source Sans Pro,sans-serif;
  line-height: 1;
  text-transform: uppercase;
}
.logo{
 float: left;
 /* margin-left:24%; */
 
}
#bg{
  background-color: #f2f4f8;
  margin-left: 22%;
  margin-right: 20%;
  margin-top: 2%; 

}
.welcome{
  color: green;
  text-align: center;
  margin-top: 30%;
  margin-bottom: 70%;
  font-size: large;
}
.form-control{
  box-sizing: border-box;
  margin: 0;
  font-variant: tabular-nums;
  list-style: none;
  position: relative;
  display: inline-block;
  width: 80%;
  min-width: 0;
  padding: 7px 10px;
  color: #161537;
  font-size: 15px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e4e9f0;
  border-radius: 2px;
  box-shadow: none !important;
  overflow: visible;
  transition: all .3s;
  }
  .form-control:hover{
      border-color: #0190fe;
      border-right-width: 1px;
  }
  .form-group{
      text-align: center;
      padding-top: 11px;
      padding-bottom: 11px;
  }
  .sub-btn{
    background-color: #5dc698;
    border-color: #5dc698;
    color:#fff;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
    outline: none;
    box-shadow: none;
    border-radius: 2px;
    width: 80%;
    box-shadow: none;
    overflow: visible;
    padding: .375rem .375rem;
  }
  .copyright{
    color: #c3bedc;
    text-align: center;
    padding-top: 7%;
    margin-bottom: 2%;
  }
  .mr-2{
    margin-right: .5rem;
    font-size: 1.2rem;
    text-align: center;
    color: #786fa4;
    line-height: 1.5;
    font-family: "Source Sans Pro",sans-serif;
    font-weight: 400;
  }
  .wrapper1 .login{
    color: #161537;
    font-size: 1.6rem;
    text-align: center;
    padding-top: 1.5rem;
    line-height: 1.5;
    font-weight: 400;
    font-family: "Source Sans Pro,sans-serif";
  }
  .wrapper1 .label{
    color: #161537;
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 2rem; 
    line-height: 1.5;
    font-weight: 400;
    font-family:"Source Sans Pro,sans-serif";
  }
  .signup{
      color: #1b55e3;
      font-weight: 700;
      cursor: pointer;
      font-size: 1.2rem;
      text-align: center;
      line-height: 1.5;
      font-family: "Source Sans Pro",sans-serif;
    
  }